html, body {
    height: 100%;
}

:root {
    --background: #3a3944;
    --color: #ccc;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: var(--background);
    font-family: "Georgia", "Times", "Times New Roman", serif;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

.container {
    margin: 25px 5vw;
}

.joke {
    font-size: 40px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    background: transparent;
    color: var(--color);
    cursor: pointer;
    word-wrap: break-word;

}

.input_joke {
    opacity: 0;
}

.options {
    color: #fff;
    background: #222222;
    text-align: left;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;

    opacity: 0;
}

.options ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.options ul li {
    padding: 7px 0;
    cursor: pointer;
}

.options ul li:hover {
    color: #ccc;
}